@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent horizontal scrolling but allow vertical */
html, body {
  overflow-x: hidden;
  overflow-y: auto;
}

#__next {
  overflow-x: hidden;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --theme-primary: #3718FF;
  --theme-secondary: #d7eaff;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

  .bg-theme-primary{
    background-color: var(--theme-primary);
  }
}